body{
    max-width: 100vw;
   /* overflow-x: hidden;*/
}
.update-pony{
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 100%;
    grid-auto-flow: row;
}
#updateForm{
    border: 2px solid darkslategrey;
   padding: 60px;
    width: 400px;
}

.pony-item{
    cursor: pointer;
}
.error{
    color: indianred;
    padding-top: 20px;
}
.message{
    padding-top: 20px;
    color:#6aca3e;
}
.nav{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(5, auto);
    grid-auto-flow: row;
    list-style: none;
    padding-bottom: 20px;
    border-bottom: 2px solid darkslategrey;
}

.nav .active{
    color: darkslategrey;
    font-weight: bold;
}

.nav a, .nav a:visited{
    color: black;
    text-decoration: none;
}
.delete-pony{
    list-style: none;
}
.container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-auto-flow: row;
    justify-items: center;
}
.container{
    width: 80%;
}

.found-ponies{
    margin-top: 20px;
}

.get-pony, .found-ponies{
    display: grid;
    grid-template-columns: 30% 40%;
    grid-template-rows: 100%;
    grid-auto-flow: row;
}
.get-pony #get-pony-img, .found-ponies #find-pony-img{
    width: 400px;

}

.show-pony, .find-pony{
    cursor: pointer;
}